* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Lato", Arial, sans-serif;
}

.first-page {
  min-height: 100vh;
  background: url(./images/first-page_bg.jpg) center center/cover;
  position: relative;
  z-index: 0;
  padding: 17px 0;
  color: #ffffff;
}
.first-page::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  z-index: -1;
}
.first-page__lang-flag {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-page__lang-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.first-page__lang-triangle {
  margin: 6px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}

.logo {
  width: 172px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  width: 29px;
  height: 29px;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.nav-bar {
  list-style: none;
  justify-self: center;
  min-width: 445px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 161px;
  margin-right: 113px;
}
.nav-bar__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.first-page__lang-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 96px;
  margin-right: 20px;
}

.header__button {
  width: 100px;
  height: 40px;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.first-page__title {
  margin: 0 auto 39px;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.first-page__subtitle {
  max-width: 500px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto 55px;
}

.first-page__button {
  width: 160px;
  height: 50px;
  border: none;
  background: #ffffff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ed4c5c;
  margin: 0 auto;
  display: block;
  text-align: center;
  cursor: pointer;
}

.overview {
  min-height: 500px;
}
.overview__wrapper {
  min-height: 500px;
  display: flex;
}
.overview__text {
  max-width: 445px;
  margin: 140px 125px 0 0;
}
.overview__title {
  margin-bottom: 46px;
}
.overview__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin-bottom: 20px;
}
.overview__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ed4c5c;
}
.overview__player {
  position: relative;
  align-self: center;
}
.overview__player::before {
  content: "";
  width: 66px;
  height: 66px;
  background: url(./images/icons/play-button.svg) center center/cover no-repeat;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.overview__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 445px;
  height: 311px;
  border-radius: 15px;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}

.features {
  min-height: 660px;
  background: #fafafa;
  padding-top: 63px;
}
.features__title {
  text-align: center;
  margin: 0 auto 75px;
}

.cards {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards__item {
  min-height: 355px;
  max-width: 350px;
  position: relative;
}
.cards__image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cards__text {
  width: 293px;
  min-height: 198px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 33px 20px 25px;
  position: absolute;
  top: 157px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #101010;
}
.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}
.cards__paragraph {
  min-height: 57px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 5px;
}
.cards__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #ed4c5c;
}

.technology {
  min-height: 500px;
  padding: 63px 0;
}
.technology__title {
  text-align: center;
  margin-bottom: 52px;
}

.technologys {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technologys__item {
  min-height: 226px;
  max-width: 255px;
  text-align: center;
  color: #101010;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.technologys__digit {
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
  position: absolute;
  top: 13px;
}
.technologys__image {
  position: absolute;
  top: 110px;
  transform: translateY(-50%);
}
.technologys__title {
  margin: 151px auto 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.technologys__paragraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0 30px 4px 34px;
  min-height: 51px;
  max-width: 191px;
}/*# sourceMappingURL=style.css.map */